feed_data.csv
feed_data_views.csv
user_info.csv
output.png
df.csv
control_model.ipynb
enhanced_model copy.ipynb
feed_data_25M.csv
posts_info.csv
dec\newdf_full.csv
dec\newdf.csv
dec\\newdf_full.csv
dec\\newdf.csv
dec/newdf_full.csv
dec/newdf.csv
newdf_full.csv
newdf.csv
dec/embeddings/embaug_dict.npy
dec/embeddings/embaug_meanpooling_layer.npy
dec/embeddings/embaug_num_labels.npy
dec/embeddings/embaug_txt_labels.npy
dec/embeddings/embdict_2.npy
dec/embeddings/embdict.npy
__pycache__
.vscode
catboost_info
catboost_info/learn/events.out.tfevents
catboost_info/learn/events.out.tfevents
catboost_info/time_left.tsv
catboost_info/catboost_training.json
__pycache__/schema.cpython-310.pyc
__pycache__/app.cpython-310.pyc
.vscode/