*.csv
!ab_tests/ab_test.csv

data/
recommendation_models/
catboost_info/
__pycache__
dec/embeddings
dec/predictions
bert_embeddings/embdict.npy
bert_embeddings/embeddings_full.npy
dec_aug/_old_train-bertembedaug.ipynb
dataset_augmentation/embeddings/embaug_dict.npy
dataset_augmentation/embeddings/embaug_maxpooling_layer.npy
dataset_augmentation/embeddings/embaug_meanpooling_layer.npy
ab_tests/airflow/logs
ab_tests/hw_11.ipynb
ab_tests/airflow/dags/_process-employees.py
